## .NET
bin/
obj/
*.user
*.suo
*.cache
*.vs/
.idea/

## NuGet
*.nupkg
**/packages/*

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/

## Secrets
appsettings.*.local.json
serviceAccountKey.json
play-services.json
.env
*.pem
*.p8
AuthKey_*.json

## Docker
pgdata/
